<%- include('./layouts/header'); -%>

<% if (alert) { %>
    <h2><%= alert %></h2>
<% } %>
<div class="col-3"></div>
<div class="col-9">
  <form class="form" method="post" action="/addEspecialidade">
    <div class="mb-3">
      <label for="nomeEspecialidade" class="form-label">Nome da Especilidade</label>
      <input type="text" class="form-control" id="nomeEspecialidade" name="nomeEspecialidade">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
<div class="col-3"></div>

<%- include('./layouts/footer'); -%>